<p style="text-indent: 0pt;text-align: left;"></p>

<h2 style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">§ 1 Geltungsbereich</h2>

<ol id="l1">
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Diese Allgemeinen Geschäftsbedingungen
        (nachfolgend „<b>AGB Hosting</b>“) finden für die Erbringung unserer Leistungen durch uns, der Windcloud 4.0
        GmbH, Lecker Straße 7, 25917 Enge-Sande (im Folgenden der „<b>Anbieter</b>), gegenüber Ihnen als Kunde
        (nachfolgend „<b>Kunde</b>“) bei jedem Vertragsschluss über unsere Leistungen „Start“, „Brise“, „Sturm“ und
        „Orkan“ Anwendung.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Diese AGB Hosting des Anbieters gelten
        ausschließlich. Entgegenstehende, zusätzliche oder von diesen AGB Hosting abweichende Bedingungen des Kunden
        werden nicht Vertragsinhalt, es sei denn der Anbieter hat deren Geltung ausdrücklich zugestimmt. Diese AGB
        Hosting gelten auch dann, wenn der Anbieter eine Leistung in Kenntnis entgegenstehender oder abweichender
        Bedingungen des Kunden vorbehaltlos ausführt.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Diese AGB Hosting gelten nur, wenn der Kunde
        Unternehmer (§ 14 BGB), eine juristische Person des öffentlichen Rechts oder öffentlich-rechtliches
        Sondervermögen ist.</p></li>
</ol>

<p style="text-indent: 0pt;text-align: left;"><br></p>

<h2 style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">§ 2 Vertragsgegenstand</h2>

<ol id="l2">
    <li><p style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">Der Anbieter überlässt dem
        Kunden den vertraglich vereinbarten, mengenmäßig in Gigabyte (GB) oder Terrabyte (TB) beschriebenen
        Speicherplatz auf einem beliebigen Speichermedium des Anbieters zur Nutzung im Rahmen der nachfolgenden
        Bestimmungen.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Der Anbieter wird dem Kunden je nach
        Vereinbarung einen virtuellen Server, soweit vereinbart mit einem eigenen Host-Namen, dem die je nach dem
        gebuchten Paket nutzbare Speicherkapazität zugewiesen ist, zur Verfügung stellen.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Der Anbieter wird die Verbindung zwischen dem
        Server und dem Internet verschaffen, gewähren und aufrechterhalten, damit die auf dem Server abgelegten Daten
        auf Anfrage von außen stehenden Rechnern im Internet (Clients) mittels der Protokolle (https, WebDav) in dem
        jeweilig anwendbaren Protokoll an den abrufenden Rechner weitergeleitet werden. Die Leistungen des Anbieters bei
        der Übermittlung von Daten beschränken sich dabei allein auf die Datenkommunikation zwischen dem vom Anbieter
        betriebenen Übergabepunkt des eigenen Datenkommunikationsnetzes an das Internet und dem für den Kunden
        bereitgestellten Server.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Der Anbieter schuldet ein Bemühen, dass die
        vom Kunden vertragsgemäß gespeicherten Daten im World Wide Web über die vom Anbieter unterhaltenen Server und
        das daran angeschlossene Internet vom Nutzer rund um die Uhr weltweit abrufbar sind. Der Anbieter übernimmt
        keine Verantwortung für den Erfolg des jeweiligen Zugangs zu den Daten, soweit nicht ausschließlich das vom
        Anbieter betriebene Netz einschließlich der Schnittstellen zu Netzen Dritter benutzt wird.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Der Kunde darf die vom Anbieter zur Verfügung
        gestellten Leistungen Dritten nicht zur gewerblichen Nutzung überlassen.</p></li>
</ol>

<h2 style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">§ 3 Geschwindigkeit und Verfügbarkeit des Servers</h2>

<ol id="l3">
    <li><p style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">Der Anbieter stellt durch
        eine dem Stand der Technik entsprechende Bandbreite der Verbindung zu dem nächsten Internet-Knoten sicher, dass
        eine möglichst hohe Datenübertragungsgeschwindigkeit für Benutzer erreicht wird.</p></li>
    <li><p style="padding-left: 20pt;text-indent: -14pt;text-align: justify;">Die Verfügbarkeit der Server beträgt für Web-Services 99,95 % im Jahresmittel.</p></li>
    <li><p style="padding-left: 20pt;text-indent: -14pt;text-align: justify;">Zur verfügbaren Nutzung (Verfügbarkeit
        gegeben) zählen auch die Zeiträume während</p>
        <ol id="l4">
            <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Störungen in oder aufgrund des
                Zustandes von nicht vom Anbieter oder seinen Erfüllungsgehilfen bereit zu stellenden Teilen der für die
                Ausführung der Leistungen erforderlichen technischen Infrastruktur;</p></li>
            <li><p style="padding-left: 20pt;text-indent: -15pt;line-height: 13pt;text-align: justify;">einer nur
                unerheblichen Minderung der Tauglichkeit zum vertragsgemäßen Gebrauch;</p></li>
            <li><p style="padding-left: 19pt;text-indent: -13pt;text-align: justify;">Störung, die durch höhere Gewalt
                verursacht werden;</p></li>
        </ol>
        <p style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">(c) Wartungsarbeiten gemäß Abs.
            4.</p></li>
    <li><p style="padding-left: 20pt;text-indent: -14pt;text-align: left;">Wartungsarbeiten finden jeweils freitags im
        Zeitfenster von 00:00 bis 06:00 MEZ statt.</p></li>
</ol>

<p style="text-indent: 0pt;text-align: left;"><br></p>

<h2 style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">§ 4 Pflichten des Kunden; Folgen von Pflichtverstößen</h2>

<ol id="l5">
    <li><p style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">Sollte es bei der Nutzung
        des Servers zu Störungen kommen, so wird der Kunde den Anbieter von diesen Störungen unverzüglich in Kenntnis
        setzen.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Der Kunde verpflichtet sich, auf dem zur
        Verfügung gestellten Speicherplatz keine rechtswidrigen Inhalte, die Gesetze, behördlichen Auflagen oder Rechte
        Dritter verletzen, abzulegen (insbesondere keine Inhalte, die gegen Urheber-, Marken-, Namens-, Datenschutz- und
        Wettbewerbsrecht verstoßen). Er wird dafür Sorge tragen, dass die von ihm gewählte Internet-Adresse, unter der
        die Inhalte über das Internet abgefragt werden können, ebenfalls nicht Gesetze, behördliche Auflagen oder Rechte
        Dritter verletzt. Der Kunde wird ferner darauf achten, dass von ihm installierte Programme, Skripte o. ä. den
        Betrieb des Servers oder des Kommunikationsnetzes des Anbieters oder die Sicherheit und Integrität anderer auf
        den Servern des Anbieters abgelegten Daten nicht gefährden. Der Kunde wird die vom Anbieter zur Verfügung
        gestellten Ressourcen insbesondere nicht für folgende Handlungen einsetzen: unbefugtes Eindringen in fremde
        Rechnersysteme (z.B. Hacking); Behinderung von fremden Rechnersystemen durch Versenden/Weiterleiten von
        Datenströmen und/oder E-Mails (z.B. DoS-/DDoS-Attacken/Spam/Mail-Bombing); Suche nach offenen Zugängen zu
        Rechnersystemen (z.B. Port Scanning); Versenden von E-Mails an Dritte zu Werbezwecken, sofern nicht eine
        ausdrückliche Einwilligung des Empfängers vorliegt, oder sonst ein Erlaubnistatbestand gegeben ist; Fälschen von
        IP-Adressen, Mail- und Newsheadern sowie die Verbreitung von Schadsoftware; Betreiben von sog. P2P-Tauschbörsen,
        Download-Services oder Streaming-Diensten, über die eventuell urheberrechtlich geschützte Inhalte unberechtigt
        verbreitet werden können; Zurverfügungstellen von Links, die auf P2P-Tauschbörsen, Download-Services,
        Streaming-Dienste oder deren Inhalte verweisen.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Gefährden oder beeinträchtigen vom Kunden
        installierte Programme, Skripte o. ä. den Betrieb des Servers oder des Kommunikationsnetzes des Providers oder
        die Sicherheit und Integrität anderer auf den Servern des Providers abgelegter Daten, so kann der Provider diese
        Programme, Skripte etc. deaktivieren oder deinstallieren. Falls die Beseitigung der Gefährdung oder
        Beeinträchtigung dies erfordert, ist der Provider auch berechtigt, die Anbindung der auf dem Server abgelegten
        Inhalte an das Internet zu unterbrechen. Der Provider wird den Kunden über diese Maßnahme unverzüglich
        informieren.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Im Falle eines unmittelbar drohenden oder
        eingetretenen Verstoßes gegen die vorstehenden Verpflichtungen sowie bei der Geltendmachung nicht offensichtlich
        unbegründeter Ansprüche Dritter gegen den Anbieter auf Unterlassen der vollständigen oder teilweisen Darbietung
        der auf dem Server abgelegten Inhalte über das Internet ist der Anbieter berechtigt, unter Berücksichtigung auch
        der berechtigten Interessen des Kunden die Anbindung dieser Inhalte an das Internet ganz oder teilweise mit
        sofortiger Wirkung vorübergehend einzustellen. Der Anbieter wird den Kunden über diese Maßnahme unverzüglich
        informieren.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Für den Zugriff auf den für den Kunden
        bestimmten Speicherplatz erhält der Kunde eine Benutzerkennung und ein veränderbares Passwort. Der Kunde ist
        verpflichtet, das Passwort in regelmäßigen Abständen, mindestens jedoch einmal jährlich, zu ändern. Das Passwort
        muss eine Mindestlänge von 8 Zeichen aufweisen und mindestens einen Buchstaben, eine Ziffer sowie ein
        Sonderzeichnen enthalten. Der Kunde darf das Passwort nur an solche Personen weitergeben, die von ihm berechtigt
        wurden, auf den Speicherplatz Zugriff zu nehmen. Wird das Passwort dreimal in Folge unrichtig eingegeben, so
        wird der Zugriff auf den Speicherplatz zum Schutz vor Missbräuchen gesperrt. Der Kunde wird hierüber informiert.
        Er erhält dann vom Anbieter ein neues Passwort zugeteilt. Der Anbieter ist in diesem Fall berechtigt, nicht nur
        das Passwort, sondern auch die Benutzerkennung neu</p>
        <p style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">zu vergeben.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Die von dem Kunden auf dem für ihn bestimmten
        Speicherplatz abgelegten Inhalte können urheber- und/oder datenschutzrechtlich geschützt sein. Der Kunde räumt
        dem Anbieter das Recht ein, die von ihm auf dem Server abgelegten Inhalte bei Abfragen über das Internet
        zugänglich machen zu dürfen, insbesondere sie hierzu zu vervielfältigen und zu übermitteln sowie sie zum Zwecke
        der Datensicherung vervielfältigen zu können. Der Kunde prüft in eigener Verantwortung, ob die Nutzung
        personenbezogener Daten durch ihn datenschutzrechtlichen Anforderungen genügt.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Verstößt der Kunde gegen die vorgenannten
        Pflichten dieses § 3, ist er zur Unterlassung des weiteren Verstoßes, zum Ersatz des dem Anbieter entstandenen
        und noch entstehenden Schadens sowie zur Freihaltung und Freistellung des Anbieters von Schadensersatz- und
        Aufwendungsersatzansprüchen Dritter, die durch den Verstoß verursacht wurden, verpflichtet. Die
        Freistellungsverpflichtung umfasst auch die Verpflichtung, den Anbieter von Rechtsverteidigungskosten (Gerichts-
        und Anwaltskosten etc.) vollständig freizustellen. Sonstige Ansprüche des Anbieters, insbesondere zur Sperrung
        der Inhalte und zur außerordentlichen Kündigung, bleiben unberührt.</p></li>
</ol>

<p style="text-indent: 0pt;text-align: left;"><br></p>

<h2 style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">§ 5 Vergütung</h2>

<ol id="l6">
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Die Vergütung für die durch den Anbieter zu
        erbringenden Leistungen ergibt sich aus dem ausgewählten Leistungspaket. Ist eine Vergütung mit dem Kunden nicht
        vereinbart, gelten die zum Zeitpunkt der Beauftragung gültigen Preislisten des Anbieters. Für Leistungen, die
        typischerweise nach Aufwand abgerechnet werden (z.B. Programmiertätigkeiten, Support), gelten die jeweils
        gültigen Manntagessätze/-stundensätze des Anbieters.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Die gesetzliche Umsatzsteuer ist nicht im
        Preis enthalten und wird in der Rechnung in der am Tage der Rechnungsstellung geltenden gesetzlichen Höhe
        gesondert ausgewiesen.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Der Anbieter wird dem Kunden die vertraglich
        geschuldete Vergütung monatlich in Rechnung stellen. Mangels anderweitiger Vereinbarung ist die Vergütung ohne
        Abzug innerhalb von 14 Tagen ab Rechnungsdatum zur Zahlung fällig. Maßgebend für das Datum der Zahlung ist der
        Eingang beim Anbieter.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Im Falle des Zahlungsverzugs hat der Kunde
        Verzugszinsen in Höhe von 9 (neun) Prozentpunkten über dem jeweiligen Basiszinssatz p.a. zu bezahlen. Ferner
        kann der Anbieter dem Kunden eine Pauschale in Höhe von 40 Euro berechnen. Der Anbieter behält sich die
        Geltendmachung höherer Zinsen und/oder eines weiteren Schadens vor. Die Pauschale nach Satz 2 wird auf einen
        geschuldeten Schadensersatz angerechnet, soweit der Schaden in Kosten der Rechtsverfolgung begründet ist.
        Etwaige Ansprüche auf Fälligkeitszinsen insbesondere gegenüber Kaufleuten nach § 353 HGB bleiben unberührt.</p>
    </li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Der Anbieter ist berechtigt, noch ausstehende
        Lieferungen oder Leistungen nur gegen Vorauszahlung oder Sicherheitsleistung auszuführen oder zu erbringen, wenn
        dem Anbieter nach Abschluss des Vertrages Umstände bekannt werden, welche die Kreditwürdigkeit des Kunden
        wesentlich zu mindern geeignet sind und durch welche die Bezahlung der offenen Forderungen des Anbieters durch
        den Kunden aus dem jeweiligen Vertragsverhältnis gefährdet wird.</p></li>
</ol>

<p style="text-indent: 0pt;text-align: left;"><br></p>

<h2 style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">§ 6 Vertragsdauer; Kündigung</h2>

<ol id="l7">
    <li><p style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">Wählt der Kunde eine
        jährliche Abrechnung, beträgt die Mindestvertragslaufzeit ein Jahr; der Vertrag kann mit einer Frist von 30
        Tagen zum Laufzeitende gekündigt werden, sonst verlängert er sich jeweils um ein weiteres Jahr. Wählt der Kunde
        eine monatliche Abrechnung, beträgt die Mindestvertragslaufzeit einen Monat; der Vertrag kann mit einer Frist
        von 14 Tagen gekündigt werden, sonst verlängert er sich jeweils um einen weiteren Monat.</p></li>
    <li><p style="padding-left: 20pt;text-indent: -14pt;text-align: justify;">Jede Kündigung bedarf der Schrift- oder
        Textform.</p></li>
    <li><p style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">Das Recht jeder
        Vertragspartei, den Vertrag bei Vorliegen eines wichtigen Grundes außerordentlich und fristlos zu kündigen,
        bleibt unberührt. Ein wichtiger Grund liegt für den Anbieter insbesondere in jedem Fall vor, in dem</p>
        <ol id="l8">
            <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">der Kunde für zwei aufeinander
                folgende Termine mit der Entrichtung der vereinbarten Vergütung im Verzug ist oder der Kunde in einem
                Zeitraum, der sich über mehr als zwei Termine erstreckt, mit der Entrichtung der Vergütung in Höhe eines
                Betrags in Verzug gekommen ist, welcher der Vergütung für zwei Monate entspricht;</p></li>
            <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">der Kunde zahlungsunfähig ist oder
                über sein Vermögen ein Insolvenzverfahren eröffnet ist oder mangels Masse der Antrag auf Eröffnung eines
                Insolvenzverfahrens abgewiesen worden ist; nach Antrag auf Eröffnung des Insolvenzverfahrens über das
                Vermögen des Kunden darf der Anbieter jedoch nicht wegen eines Verzugs mit der Entrichtung der
                Vergütung, der in der Zeit vor dem Eröffnungsantrag eingetreten ist, oder wegen einer Verschlechterung
                der Vermögensverhältnisse des Kunden kündigen;</p></li>
            <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">der Kunde gegen wesentliche
                vertragliche Pflichten verstößt, insbesondere die vertragliche Pflicht, bei der Nutzung der
                vertraglichen Leistungen des Anbieters das Recht zu beachten, und diesen Verstoß auch nach Abmahnung
                oder Benachrichtigung über die Sperrung der Inhalte durch den Anbieter nicht unverzüglich abstellt.</p>
            </li>
        </ol>
    </li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Eine Kündigung des Vertrages gemäß § 543 Abs.
        2 Nr. 1 BGB wegen Nichtgewährung des vertragsgemäßen Gebrauchs ist erst zulässig, wenn dem Anbieter ausreichend
        Zeit zur Mängelbeseitigung gegeben wurde und diese fehlgeschlagen ist. Von einem Fehlschlagen der
        Mängelbeseitigung ist erst auszugehen, wenn diese unmöglich ist, wenn sie vom Anbieter ernsthaft und endgültig
        verweigert oder in unzumutbarer Weise verzögert wird oder sie dem Kunden aus anderen Gründen unzumutbar ist.</p>
    </li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Eine Kündigung wegen einer nur unerheblichen
        Hinderung des vertragsgemäßen Gebrauchs ist ausgeschlossen.</p></li>
    <li><p style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">Nach Beendigung des
        Vertragsverhältnisses stellt der Anbieter dem Kunden die auf dem für den Kunden bestimmten Speicherplatz
        abgelegten Inhalte auf einem Datenträger oder per Datenfernübertragung zum Abruf zur Verfügung. Etwaige
        Zurückbehaltungsrechte des Anbieters bleiben unberührt.</p></li>
</ol>

<p style="text-indent: 0pt;text-align: left;"><br></p>

<h2 style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">§ 7 Sach- und Rechtsmängel</h2>

<ol id="l9">
    <li><p style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">Der Anbieter leistet bei
        Sachmängeln zunächst Gewähr durch Nacherfüllung. Hierzu überlässt der Anbieter nach seiner Wahl dem Kunden eine
        neue, mangelfreie Leistung oder beseitigen den Mangel.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Als Mangelbeseitigung i.S.d. Abs. 3 gilt
        auch, wenn der Anbieter dem Kunden zumutbare Möglichkeiten aufzeigt, die Auswirkungen des Mangels zu
        vermeiden.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Der Anbieter haftet nicht für Mängel, soweit
        diese dem Kunden zuzurechnen sind, es sei denn der Kunde weist nach, dass der Mangel hierauf nicht beruht.</p>
    </li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Bei Rechtsmängeln leistet der Anbieter
        zunächst Gewähr durch Nacherfüllung. Hierzu verschafft der Anbieter nach seiner Wahl dem Kunden eine rechtlich
        einwandfreie Benutzungsmöglichkeit an der vereinbarten, ausgetauschten oder geänderten gleichwertigen Leistung.
        Die Leistung gilt als gleichwertig, wenn und soweit dadurch die geschuldete Funktionalität nicht erheblich
        beeinträchtigt wird.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Behaupten Dritte Ansprüche, die den Kunden
        hindern, die ihm vertraglich eingeräumten Nutzungsbefugnisse wahrzunehmen, unterrichtet der Kunde den Anbieter
        unverzüglich schriftlich oder in Textform und umfassend. Er ermächtigt den Anbieter hiermit, Klagen gegen Dritte
        gerichtlich und außergerichtlich allein zu führen. Wird der Kunde verklagt, stimmt er sich mit dem Anbieter ab
        und nimmt Prozesshandlungen, insbesondere Anerkenntnisse und Vergleiche, nur mit seiner Zustimmung vor.</p></li>
    <li><p style="padding-left: 20pt;text-indent: -15pt;text-align: justify;">Aus sonstigen Pflichtverletzungen durch
        den Anbieter kann der Kunde Rechte nur herleiten, wenn</p></li>
</ol>

<p style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">er diese gegenüber dem Anbieter
    schriftlich oder in Textform gerügt und ihm eine Nachfrist zur Abhilfe eingeräumt hat. Das gilt nicht, soweit nach
    der Art der Pflichtverletzung eine Abhilfe nicht in Betracht kommt. Für Schadensersatz oder Ersatz vergeblicher
    Aufwendungen gelten die in § 8 festgelegten Grenzen.</p>

<p style="text-indent: 0pt;text-align: left;"><br></p>

<h2 style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">§ 8 Allgemeine Haftung</h2>

<ol id="l10">
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Die Haftung des Anbieters für Schäden
        aufgrund der Nutzung von Telekommunikationsdienstleistungen für die Öffentlichkeit richtet sich nach den
        Regelungen des Telekommunikationsgesetzes.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Bei der Überlassung des Speicherplatzes auf
        dem Server schließt der Anbieter jegliche verschuldensunabhängige Haftung für anfängliche Mängel des Servers
        aus.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Die Haftung wegen Unterbrechung, Störung oder
        sonstiger schadensverursachender Ereignisse, die auf Telekommunikationsdienstleistungen des Anbieters oder
        Dritten, für die der Anbieter haftet, beruhen, ist beschränkt auf die Höhe des für den Anbieter möglichen
        Rückgriffs gegen den jeweiligen Telekommunikationsdienstleistungsanbieter. Der Anbieter haftet nicht für die
        Funktionsfähigkeit der Telefonleitungen zu dem vertragsgegenständlichen Server, bei Stromausfällen und bei
        Ausfällen von Servern, die nicht in seinem Einflussbereich stehen.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Soweit in den Absätzen 1 bis 3 nicht anders
        vereinbart, haftet der Anbieter im Übrigen – gleich aus welchem Rechtsgrund – auf Schadenersatz oder Ersatz
        vergeblicher Aufwendungen nach Maßgabe der im Folgenden Bestimmungen unter Buchst. (a) und (b):</p>
        <ol id="l11">
            <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Im Falle von Vorsatz oder grober
                Fahrlässigkeit haftet der Anbieter unbeschränkt. Bei einfacher Fahrlässigkeit haftet der Anbieter nur
                für Schäden aus der Verletzung einer wesentlichen Vertragspflicht (Verpflichtung, deren Erfüllung die
                ordnungsgemäße Durchführung des Vertrags überhaupt erst ermöglicht und auf deren Einhaltung der Kunde
                regelmäßig vertraut und vertrauen darf); in diesem Fall ist die Haftung des Anbieters jedoch auf den
                Ersatz des vertragstypischen, vorhersehbaren Schadens beschränkt.</p></li>
            <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Die sich aus Buchst. (a) ergebenden
                Haftungsausschlüsse und Haftungsbeschränkungen gelten nicht, soweit der Anbieter einen Mangel arglistig
                verschwiegen oder eine Garantie für die Beschaffenheit der Sache übernommen hat, für Schäden aus der
                Verletzung des Lebens, des Körpers oder der Gesundheit, sowie im Fall einer Haftung nach dem
                Produkthaftungsgesetz.</p></li>
        </ol>
    </li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Soweit die Haftung gegenüber dem Anbieter
        ausgeschlossen oder beschränkt ist, gilt dies auch für die persönliche Haftung seiner gesetzlichen Vertreter und
        Erfüllungsgehilfen.</p></li>
</ol>

<p style="text-indent: 0pt;text-align: left;"><br></p><h2
        style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">§ 9 Geheimhaltung und Datenschutz</h2>

<ol id="l12">
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Die Vertragspartner verpflichten sich, alle
        im Rahmen der Vertragsanbahnung und -durchführung erlangten Kenntnisse von vertraulichen Informationen und
        Betriebsgeheimnissen („<b>Betriebsgeheimnisse</b>“) des jeweils anderen Vertragspartners zeitlich unbegrenzt
        vertraulich zu behandeln und nur für Zwecke der Durchführung dieses Vertrags zu verwenden. Zu unseren
        Betriebsgeheimnissen gehören auch die Vertragsgegenstände und die nach diesem Vertrag erbrachten Leistungen.</p>
    </li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Die vorstehenden Verpflichtungen gelten nicht
        für Betriebsgeheimnisse, die (i) zur Zeit ihrer Übermittlung durch einen Vertragspartner bereits offenkundig
        oder der anderen Vertragspartei bekannt waren; (ii) nach ihrer Übermittlung durch den Vertragspartner ohne
        Verschulden der anderen Vertragspartei offenkundig geworden sind; (iii) nach ihrer Übermittlung durch den
        Vertragspartner der anderen Vertragspartei von dritter Seite auf nicht rechtswidrige Weise und ohne
        Einschränkung in Bezug auf Geheimhaltung oder Verwertung zugänglich gemacht worden sind; (iv) die von einer
        Vertragspartei eigenständig, ohne Nutzung der Betriebsgeheimnisse des Vertragspartners, entwickelt worden sind;
        (v) die gemäß Gesetz, behördlicher Verfügung oder gerichtlicher Entscheidung veröffentlicht werden müssen –
        vorausgesetzt, die veröffentlichende Partei informiert den</p>
        <p style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">Vertragspartner hierüber
            unverzüglich und unterstützt ihn in der Abwehr derartiger Verfügungen bzw. Entscheidungen; oder (vi) soweit
            dem Vertragspartner die Nutzung oder Weitergabe der Betriebsgeheimnisse auf Grund zwingender gesetzlicher
            Bestimmungen oder auf Grund dieses Vertrags gestattet ist.</p></li>
    <li><p style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">Die Vertragspartner halten
        die Regeln des Datenschutzes ein. Sofern der Kunde die Verarbeitung personenbezogener Daten durch den Anbieter
        nicht ausschließen kann, werden die Vertragspartner einen Auftragsverarbeitungsvertrag schließen.</p></li>
</ol>

<p style="text-indent: 0pt;text-align: left;"><br></p><h2
        style="padding-left: 5pt;text-indent: 0pt;text-align: left;">§ 10 Schlussbestimmungen</h2>

<ol id="l13">
    <li><p style="padding-top: 3pt;padding-left: 20pt;text-indent: -14pt;text-align: left;">Der Anbieter berechtigt,
        Dritte als Unterauftragnehmer heranzuziehen.</p></li>
    <li><p style="padding-left: 20pt;text-indent: -14pt;text-align: left;">Erfüllungsort ist Enge-Sande,
        Deutschland.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Sofern der Kunde Kaufmann i.S.d. HGB,
        juristische Person des öffentlichen Rechts oder öffentlich- rechtliches Sondervermögen ist, ist Gerichtsstand
        für alle etwaigen Streitigkeiten aus der Geschäftsbeziehung zwischen dem Anbieter und dem Kunden Enge-Sande,
        Deutschland. Der Anbieter ist auch zur Klageerhebung am Sitz des Kunden sowie an jedem anderen zulässigen
        Gerichtsstand berechtigt.</p></li>
    <li><p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">Die Beziehungen zwischen dem Anbieter und dem
        Kunden unterliegen ausschließlich dem Recht der Bundesrepublik Deutschland. Das Übereinkommen der Vereinten
        Nationen über Verträge über den internationalen Warenkauf vom 11. April 1980 (CISG) gilt nicht.</p>
    </li>
</ol>